body{
    background: black;
}
.target{
    margin: 50%;
}
.button{
    box-sizing: border-box;
    width: 200px;
    height: 50px;

    border-radius: 75px;
    padding: 10px;
    text-align: center;
    margin: 10px;
}
.orange{
    color: #ff701c;
    border: 5px solid #ff701c;
}
.blue{
    color: #2dfff4;
    border: 5px solid #2dfff4;
}
.pink{
    color: #ff54a6;
    border: 5px solid #ff54a6;
}
.red{
    color: #fa4040;
    border: 5px solid #fa4040;
}
